.editor {
    position:relative;
    padding-left:150px;
    font-size:x-large;
}
.editor > div{
  background:none;
}
.editor .md-editor-toolbar{
  background: black !important;
}
.image{
  width:100%;
  display: flex;
  justify-content: center;
}

  