.editor {
    font-size:x-large;
    z-index:0;
    position:relative;
}
.editor > div{
  background:none;
  margin-left:50px;
}
.editor .md-editor-toolbar{
  background: black !important;
}
.image{
  width:100%;
  display: flex;
  justify-content: center;
}

  