.image{
    background-size: cover !important;
    background-position: center !important;
    height:100%;
    transition:all 0.5s ease-in-out;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image:hover{
    transform: scale(1.1);
}
.parent{
    overflow:hidden;
    flex-wrap: nowrap;
}