.title, .subtitle{
    text-align: center;
    margin-bottom:0;
    margin-top:0;
}
.title{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top:-1.5rem;
}
.subtitle{
    font-size: medium;
}
.p{
    padding:10px 20px 10px 20px;
    position: relative;
    z-index:2;
}
.date{
    margin-right:10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2.4rem;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.05)
    );
    position: relative;
    z-index: 1;
  }