.height {
  /* height of the banner */
  min-height: 300px;
}

.container {
  width: 100%;
  composes: height;
  background-color: black;
  display: inline-grid;
  grid-template-columns:  50% 50%;
  color: white;
}

.image {
  width: 100%;
  composes: height;
  background-size: cover !important;
}

.gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 0.2) 0%,
    rgba(30, 30, 30, 0.8) 30%,
    rgba(30, 30, 30, 1) 50%,
    rgba(30, 30, 30, 1) 100%
  );
  width: 100%;
  position: absolute;
  opacity: 1;
  composes:height;
}

.content{
    z-index:2;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h2, h4{
    margin:0;
}
.content h2{
    text-transform: uppercase;
}
.content p{
  width:90%;
  max-width:400px;
}
