.form form {
    display:flex;
    flex-direction: column;
    max-width:300px;
}
.form  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:calc(100vh - 50px);
    align-items: center;
    justify-content: center;
}
.form input{
    margin-bottom:5px;
    padding:5px;
    font-size: 1.2rem;
}
.warning{
    color:red;
}
.toggleMode{
    text-align: center;
    margin-top:-20vh;
}
.toggleMode a{
    cursor:pointer;
    color:blue;
    text-decoration: underline;
}