html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-center {
  text-align: center;
}
.ReactModal__Overlay{
  z-index:9999;
}
