.truncuated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.truncuated p:first-of-type{
    display:block;
}
.truncuated p{
    display:none
}
.truncuated figure{
    display:none;
}